@import url('https://fonts.googleapis.com/css?family=News+Cycle|Nixie+One|Sacramento');
img {width:300px;}
* {margin:0;padding:0;box-sizing: border-box;}
body {
	font-family: 'News Cycle', sans-serif;
	line-height: 1.5;
	text-align: center;
	color:#333;
}
section {
	padding:5em 0;
}
#intro {
	background-image: url("../images/hero.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 80vh;
}
h2 {
	font-family: 'Sacramento', cursive;
	font-weight: bold;
	font-size: 50px;
}

ul {
	list-style-type: none;
}

#slogan {
	font-family: 'Nixie One', cursive;
	font-style: italic;
}
