body {
	text-align: center;
	background-image: url("images/hero.jpg");
	background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
	color:#000;
	font-family: Arial;
}

h1 {
	
}
h3 {

}
p {

}
ul {

}
li {

}
img {

}
#slogan {
	font-style: italic;
}